*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
     position: fixed;
     left: 0;
     top: 0;
     right: 0;
    z-index: 1;
    background-color: white;
    
}


.container-header{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-50{
    width: 50%;
    height: 50px;
}

.logo{

    vertical-align:-webkit-baseline-middle; 
}


.text-sx{
    vertical-align:-webkit-baseline-middle; 
    
    padding: 10px;
    
}

.text-dx{
    text-align: right;
    padding: 10px;
    vertical-align:-webkit-baseline-middle; 
    
}

.bg-blu{
    background-color: blue;
    color: white;
}

.content-header{
    vertical-align: middle; 
}

 

/* main */

.bg-gray{
    background-color: gray;
}

.container-main-full-one{
    width: 1100px;
    margin: 0 auto;
    margin-top: 90px;
}

.container-main{
    width: 1200px;
    margin: 0 auto;
}



.col-33{
    width: calc(100% / 3 - 20px);
    
    border: 1px solid black;
    height: 900px;
    margin: 10px;
    
}

.text-right{
    text-align: right;
}

.col-40{
    width: 40%;
    background-color: rgb(69, 208, 255);
   
    height: 400px;
}

.col-60{
    width: 60%;
    background-color: rgb(69, 208, 255);
    
    height: 400px;
}


.col-50-sx{
    width: 50%;
    height: 500px;
}

.col-50-dx{
    width: 50%;
    height: 400px;
}

.container-main img{
    width: 100%;
    
}


.col-100-one{
    width: 100%;
    border: 1px solid black;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 60px;
    
}

.br-gray{
    border: 1px solid black;
    padding: 10px;
}

.col-100{
    width: 100%;
    text-align: center;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 10px;
    
}

.col-100-two{
    width: 100%;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.text-center{
    text-align: center;
    
}

.div-sx{
margin-top: 10px;
padding: 0;
width: 300px;
font-size: 30px;
text-align: center;
float: left;

}


.div-dx{
    margin-top: 10px;
    padding: 0;
    width: 300px;
    font-size: 30px;
    text-align: center;
    float: right;
}

.mb-50{
    font-size: 40px;
    margin-bottom: 50px;
}

.mb-15{
    margin-bottom: 15px;
}

.col-100-big{
    width: 100%;
    height: 200px;
}




.text-big{
    font-size: 70px;
    text-align: center;
}

.bg-light-blu{
    background-color:#4D90FF
}

.text-blu{
    background-color: blue;
    color:white;
    margin-top: 30px;

    margin-left: 355px;
}

.text-blu-two{
    background-color: blue;
    color:white;
   padding: 5px ;
   font-size: 25px;
}

.mb-40{
    margin-bottom: 40px;
}

.text-40{
    text-align: justify;
    font-size: 15px;
    margin-left: 355px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.ml-300{
    margin-left:355px;
}

.mt-50{
    margin-top: 50px;
    margin-bottom: 70px;
}

.jumbo{
    width: 90%;
    height: 50%;
    background-size: cover;
    background-position: center;
}

.radio{
    vertical-align: -webkit-baseline-middle;
    font-size: 20px;
    
    
}

.radio-one{
    vertical-align: -webkit-baseline-middle;
    font-size: 20px;
    margin-left: 40px;
}

.radio-two{
    vertical-align: -webkit-baseline-middle;
    font-size: 20px;
    margin-left: 300px;
}

.width{
    width: 50px;
}



.border-radious{
    border-radius: 50%;
    color: green;
    background-color: white;
    padding: 3px;
}

.pd-70{
    padding-left: 70px;
    padding-right: 70px;
}

.mt-15{
    margin-top: 15px;
}

.mt-20{
    margin-top: 20px;
}

.icons{
    display: inline-block;
    
}



.text-inline-two{
    display: inline-block;
    vertical-align: top;
}
.mt-40{
margin-top: 40px;
}

.mt-65{
    margin-top: 65px;
}


.ml-70{
    margin-left: 70px;
}


.ml-50{
    margin-left: 50px;
}


/* footer */
.container-main-full-footer{
    width: 100%;
    margin: 0 auto;
}

.col-100-big-footer{
    width: 100%;
    background-color: rgb(24, 42, 1);
    border: 1px solid black;
    height: 200px;
}

.square{
    background-color: blue;
    width: calc(100% / 2 - 2px);
    height: 180px;
    border: 1px solid black;
    display: inline-block;
    
}

.col-33-two{
    width: calc(100% / 3);
    background-color: rgb(181, 11, 39);
    border: 1px solid black;
    height: 365px;
    margin-top: 10px;
    margin-bottom: 10px;
}
